@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
  رمز عبور شما ریست شد لطفا <a asp-page="./Login">برای ورود کلیک کنید</a>.
</p>
